@import url("https://fonts.google.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(180, 203, 233);
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 90px;
    overflow: hidden;
    background: rgb(48, 46, 46);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

hr {
    width: 90%;
    border-top: 1px solid #585858;
    margin: 1.5rem auto;
}

.title {
    color: rgb(223, 233, 245);
    text-align: center;
    margin-top: 10px;
}

a {
    color: white;
    position: relative;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas, .fab {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

nav .nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.menu-list:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

.logout {
    position: absolute;
    bottom: 0;
}

.box {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
}

.box a {
    padding: 10px 0 10px 0;
}

.box a:hover {
    background: rgb(88, 88, 88);
    width: 100%;
}

nav:hover {
    width: 300px;
    transition: all 0.5s ease;
}